<div class="prefoot row no-gutter {{footColour}}"></div>

<div class="row align-items-center footer py-5">

    {{! LEFT SECTION }}
  <div class="left-section col-lg-4 order-lg-1 col-sm-6 order-sm-1">
    <div class="row">
        <div class="col-12">
            <h5>Opening Times</h5>
            <p>
                Mon, Tue: Closed <br />
                Wed: 11:45 - 21:00 <br />
                Thu - Sun: 09:45 - 21:00 <br />
                (Last Game 20:00)
            </p>
        </div>
    </div>
  </div>

{{! CENTER SECTION }}
  <div class="center-section col-lg-4 order-lg-2 col-sm-12 order-sm-3">

    {{! subscribe }}
    <div class="subscribe justify-content-center row">
      <div class="col-lg-12 col-md-6 col-sm-9 col-12">
        <div class="mb-2">
            <h5>Keep In Touch</h5>
        </div>
        <div id="mc_embed_signup" class="signup">
          <form action="//incarcerated.us13.list-manage.com/subscribe/post?u=d504c5742a1997acdda3ae5ad&amp;id=04262ce87f" method="post" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="mce-EMAIL">Email:</span>
                </div>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
              </div>
              <div style="position: absolute; left: -150%;" aria-hidden="true">
                <input type="text" name="b_d504c5742a1997acdda3ae5ad_04262ce87f" tabindex="-1" value="">
              </div>
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary mb-2">
                <i class="fas fa-user-plus fa-fw"></i>&nbsp;Subscribe
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{! modals }}
    <div class="row">
      <div class="col-12">
        <p>
          <a href="#" data-toggle="modal" data-target="#websitepolicy">Website Policy</a>
          &nbsp;-&nbsp;
          Incarcerated&nbsp;<i class="fal fa-copyright" aria-hidden="true"></i>&nbsp;{{getYear}}
          &nbsp;-&nbsp;
          <a href="#" data-toggle="modal" data-target="#cookiepolicy">Privacy Policy</a>
        </p>
      </div>
    </div>

  </div>

  {{! RIGHT SECTION }}
  <div class="right-section col-lg-4 order-lg-3 col-sm-6 order-sm-2">

    {{! directions }}
    <div class="row">
      <div class="col-12">
        <h5>Find Us</h5>
        <p>
            165/166 Victoria Road<br />
            Old Town, Swindon<br />
            Wiltshire, SN1 3BU<br />
            <a href="https://www.google.co.uk/maps/dir//Incarcerated,+Swindon/@51.5551029,-1.847812,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x4871444e1630c5af:0x85b6acb7a34343fd!2m2!1d-1.777772!2d51.555017" target="_blank"> Directions </a>
        </p>
      </div>
    </div>

  </div>
</div>
