<div class="social text-center flex-row justify-content-start align-items-center flex-wrap" style="display: none;">
    <a class="facebook" href="https://www.facebook.com/IncarceratedSwindon/" target="_blank">
        <i class="fab fa-facebook-f fa-fw" aria-hidden="true"></i>
    </a>

    <a class="tripadvisor" href="http://www.tripadvisor.com/Attraction_Review-d10662189" target="_blank">
        <i class="fab fa-tripadvisor fa-fw" aria-hidden="true"></i>
    </a>
    <a class="book" href="/book" target="_blank">
        <i class="fas fa-calendar-plus fa-fw" aria-hidden="true"></i>
    </a>
</div>
