<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{{title}}} &raquo; Incarcerated Swindon, Live Escape Room Games</title>

    <meta name="robots" content="{{#if meta.robots}}index, follow{{else}}noindex, nofollow{{/if}}" />
    <meta name="description" content="{{meta.description}}" />

    {{> _favicon}}
    {{> _jquery}}
    {{> _stylesheets}}
</head>


<body>
    {{> _pageheader}}



    <div class="container-fluid {{mainClass}}">
        {{> (lookup . 'template')}}
        {{> _pagefooter}}
    </div>

    {{> _social}}
    {{> _modals}}
    {{> _scripts}}
</body>
</html>