<div class="row">
    <div class="scrollable col-12 d-flex flex-wrap">

        <a href="/admin/useradmin" class="link-tile d-flex flex-sm-column justify-content-center justify-content-sm-around align-items-center">
            <span class="link-tile-icon mr-3 mr-sm-0 d-none d-sm-block">
                <i class="fas fa-user fa-fw"></i>
            </span>
            <span class="link-tile-text text-uppercase text-center">User Admin</span>
        </a>

        <a href="/admin/leaderboards" class="link-tile d-flex flex-sm-column justify-content-center justify-content-sm-around align-items-center">
            <span class="link-tile-icon mr-3 mr-sm-0 d-none d-sm-block">
                <i class="fas fa-list-ol fa-fw"></i>
            </span>
            <span class="link-tile-text text-uppercase text-center">Manage Leaderboards</span>
        </a>

        <a href="/admin/screens" class="link-tile d-flex flex-sm-column justify-content-center justify-content-sm-around align-items-center">
            <span class="link-tile-icon mr-3 mr-sm-0 d-none d-sm-block">
                <i class="fas fa-tv fa-fw"></i>
            </span>
            <span class="link-tile-text text-uppercase text-center">Screen System</span>
        </a>

        <a href="/admin/vouchers" class="link-tile d-flex flex-sm-column justify-content-center justify-content-sm-around align-items-center">
            <span class="link-tile-icon mr-3 mr-sm-0 d-none d-sm-block">
                <i class="fas fa-ticket-alt fa-fw"></i>
            </span>
            <span class="link-tile-text text-uppercase text-center">Gift Vouchers</span>
        </a>

        <a href="/admin/chat" class="link-tile d-flex flex-sm-column justify-content-center justify-content-sm-around align-items-center">
            <span class="link-tile-icon mr-3 mr-sm-0 d-none d-sm-block">
                <i class="fas fa-comments fa-fw"></i>
            </span>
            <span class="link-tile-text text-uppercase text-center">Chat</span>
        </a>

    </div>
</div>
