<div>
    <h5>Pick A Room</h5>
    <select class="selectpicker show-tick" title="None" data-style="btn-primary">
        <option data-code="adod">A Dose of Death</option>
        <option data-code="pow">Prisoner of War</option>
        <option data-code="crc">Cops &amp; Robbers - Cops</option>
        <option data-code="crr">Cops &amp; Robbers - Robbers</strong></option>
        <option data-code="age">Conspiracy - Agenda 21</option>
    </select>
</div>
<div>
    <div>Room State</div>
    <div>00:00</div>
</div>
<div class="m-3 row">
        <button type="button" class="btn btn-success mx-2">
            <i class="fas fa-play fa-fw"></i>
        </button>
        <button type="button" class="btn btn-warning mx-2">
            <i class="fas fa-pause fa-fw"></i>
        </button>
        <button type="button" class="btn btn-primary mx-2">
            <i class="fas fa-trophy fa-fw"></i>
        </button>
        <button type="button" class="btn btn-info mx-2">
            <i class="fas fa-undo-alt fa-fw"></i>
        </button>
</div>

<script src="/js/admin/screens.js"></script>
