<div class="row">
    <div class="col-12 mb-4">
        <h1>Time to Book!</h1>
        <div class="lead text-center mx-2 mx-md-5">
            Please read the following before making your booking as it may affect when you choose to come!
        </div>
    </div>
</div>

<div class="row criteria justify-content-center">
    <div class="col-12 col-md-8 justify-content-center criteria">
        <div class="d-flex justify-content-start align-items-center my-4">
            <img src="/images/icons/tickets.png" class="mx-2 ml-md-5 mr-md-3" alt="">
            <span class="p-2">
                Booking with us is like booking at the theatre!<br />
                As soon as you have booked, we cannot guarantee to offer any <em>refunds</em>, <em>transfers</em> or <em>cancellations</em>!
            </span>   
        </div>
        <div class="d-flex justify-content-start align-items-center my-4">
            <img src="/images/icons/past.png" class="mx-2 ml-md-5 mr-md-3" alt="">
            <span class="p-2">
                When booking, note that we ask all players to arrive 15 minutes before their booking as we may have bookings which follow yours.<br />
                If you are late, we may need to shorten your game or in some cases, cancel your booking!
            </span>
        </div>
        <div class="d-flex justify-content-start align-items-center my-4">
            <img src="/images/icons/alcohol.png" class="mx-2 ml-md-5 mr-md-3" alt="">
            <span class="p-2">
                To play our escape rooms you need to be nice and aware therefore please do not drink until after your game.<br />
                We may refuse you entry to your game if we suspect you have had anything to drink.
            </span>
        </div>
        <div class="d-flex justify-content-start align-items-center my-4">
            <img src="/images/icons/ok.png" class="mx-2 ml-md-5 mr-md-3" alt="">
            <span class="p-2">
                Please be aware that by making a booking, you are agreeing to be bound by our <a href="" data-toggle="modal" data-target="#tcs">Terms &amp; Conditions</a>
            </span>
        </div>

        <p class="text-center my-5 d-none d-md-block">
            <button class="btn btn-primary btn-lg booking-button" data-toggle="modal" data-target="#bookingmodal" sc-data-change="all" style="">
                Agree &amp; Continue
            </button>
        </p>
        <p class="text-center my-5 d-md-none">
            <a class="btn btn-primary btn-lg" href="https://incbook.bookifyapp.co.uk/" target="_blank">
                Agree &amp; Continue
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 red-below">
    </div>
</div>

<div class="row red pricing">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h2>Our Prices</h2>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-12 col-md-4 text-center px-2 px-md-5">
                <h4 class="mt-3 text-uppercase">Our Standard Games</h4>
                <p>Almost all of our rooms are traditional escape rooms, where you try to beat the clock. For these, once booked, we will never add more people to your slot!</p>
                <ul class="list-unstyled">
                    <li><strong>2 Players:</strong>&nbsp;&nbsp;&nbsp;£20pp</li>
                    <li><strong>3 Players:</strong>&nbsp;&nbsp;&nbsp;£19pp</li>
                    <li><strong>4 Players:</strong>&nbsp;&nbsp;&nbsp;£18pp</li>
                    <li><strong>5 Players:</strong>&nbsp;&nbsp;&nbsp;£17pp</li>
                    <li><strong>6+ Players:</strong>&nbsp;&nbsp;&nbsp;£15pp</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center px-2 px-md-5">
                <h4 class="mt-3 text-uppercase">Our Head-to-Head Games</h4>
                <p>We have also created <strong>Cops &amp; Robbers</strong>, our head-to-head game. This game is run with two teams competing both against the clock but also each other!</p>
                <ul class="list-unstyled">
                    <li><strong>4 Players:</strong>&nbsp;&nbsp;&nbsp;£20pp</li>
                    <li><strong>5 - 6 Players:</strong>&nbsp;&nbsp;&nbsp;£19pp</li>
                    <li><strong>7 - 8 Players:</strong>&nbsp;&nbsp;&nbsp;£18pp</li>
                    <li><strong>9 - 10 Players:</strong>&nbsp;&nbsp;&nbsp;£17pp</li>
                    <li><strong>11+ Players:</strong>&nbsp;&nbsp;&nbsp;£15pp</li>
                </ul>
            </div>
        </div>       
    </div>
</div>

<script src="/js/booking.js"></script>