<div class="row">
    <div class="col-12 px-5">
        <h2 class="pt-3 pb-5">Corporate &amp; Teambuilding</h2>
        <p>Incarcerated offers the best experiences for team building and corporate events. We can host a huge 31 guests per hour across unique and challenging 5 rooms (From November 2018 we will be able to host 37 guests per hour), including an exciting 12 player head to head game where 2 teams of 6 go against each other. </p>
        <p>We can also organise for Managers and Supervisors to join our Game Masters, so they can view how groups are getting on, this is an amazing way to really observe your team in a challenging environment. It gives a unique insight to how your staff work under pressure and how they perform as a team.</p>
        <p>Escape rooms are fantastic for team building as they provide a level playing ground, a wide range of skills are required to complete the rooms in time. On many occasions we have witnessed first hand the quietest member of the team suddenly come out of their shell to provide vital details to help a team complete a challenge.</p>
        <p>We can cater to most sizes and we will always work to try and accommodate any special requirements you may have. Please speak to a member of staff when booking and they will be happy to help.</p>
        <p>Here is a selection of corporate companies we have had the pleasure of hosting:</p>
        <p>Images</p>
        <p>We are ideally situated on Victoria Road in Old Town, which means there is a vast selection of Bars, Hotels and Restaurants within walking distance of our front door. We are also a stone’s throw away from Swindon Train station and the M4 so we are the perfect location if you are popping through or staying in the area!</p>
        <p>Check out the <a href="/visitingus" target="_self">Visiting Us</a> section of our website for more ideas.</p>
    </div>
</div>

<div class="row">
    <div class="col-12 px-5">
        <h2 class="pt-3 pb-5">Packages</h2>
        <p>Due to the varied sizes and requirements of Corporate events we ask large enquiries (12 or more guests) to either call our office on 01793523902 or supply us with as much detail as possible via email – contact@incarcerated.co.uk this way our staff can assess your requirements and offer the best options to you. </p>
        <p>We have food and drinks options available as extra, to make your event with us extra special. Please see prices for food and drinks below.</p>
    </div>
</div>


<div class="row">
    <div class="col-12 px-5">
        <h2 class="pt-3 pb-5">Meeting Rooms From Fig Offices</h2>
        <p>We have recently teamed up with Fig Offices in Swindon who have a fantastic selection of various sized meeting rooms and work spaces. From virtual offices to full working areas if you are planning to talk business or host a formal event then these are the people you need to speak to. Conveniently located 1 minute walk from Swindon Train Station and less than 5 minutes from our front door they are the perfect place to set up shop for the day</p>
        <p>Please check out their website <a href="https://www.figoffices.co.uk/location/fig-swindon/" target="_blank">here</a>.</p>
        <p>We have exclusive discounts for Fig Offices so please ask for Lloyd Smith when speaking to our staff if you would like more information.</p>
    </div>
</div>

<div class="black-below row">
    <div class="col-12"></div>
</div>

<div class="black row">
    <div class="col-12">
        <h2 class="pt-3 text-center">Buffet, Pizzas and Extras</h2>
    </div>
</div>

<div class="red-below black row">
    <div class="col-12"></div>
</div>

<div class="row red">
    <div class="col-12 col-md-6 px-5">
        <h3 class="">Buffet</h3>
        <p class="lead">£5.50 per person which includes:</p>
        <ul>
            <li>Sandwiches</li>
            <li>Wraps</li>
            <li>Assorted Crisps</li>
            <li>Any three* of:
                <ul>
                    <li>Onion Bhajis</li>
                    <li>Sausage Rolls</li>
                    <li>Mini Pizza</li>
                    <li>Chicken Satay</li>
                    <li>Filo Wrapped Prawns</li>
                    <li>Cheese Lattice</li>
                    <li>Dim Sums</li>
                    <li>Vol Au Vents</li>
                    <li>Quiche</li>
                    <li>Fruit Platter</li>
                </ul>
            </li>
        </ul>
        <p>Luxury Mini Cream Cake selection (2 per person) - £2 per person.</p>
        <p>*additional items available at 50p per person per item.</p>

        <h4 class="">Additional Options</h4>
        <ul>
            <li>Unlimited Tea, Coffee, Squash – 50p per person.</li>
            <li>Unlimited Tea, Coffee, Squash with biscuit and fruit selection - £1 per person.</li>
        </ul>
    </div>

    <div class="col-12 col-md-6 px-5">
        <h3 class="">Pizza</h3>
        <p class="lead">There are a wide range of pricing options, all below:</p>
        <p>We have a special relationship with Dominos and can offer exclusive discounts for groups who would like to make their escape with us in to a longer and even more memorable event.</p>
        <ul>
            <li>
                Any Pizza Any Size from menu below - £10
                <br /><small>(special crusts are charged at dominos standard rates)</small>
            </li>
            <li>7 piece chicken sides - £4</li>
            <li>Any other side - £3 </li>
            <li>Any Dominos branded dessert (not ice creams) - £3</li>
            <li>Any Dominos Wrapz - £3</li>
        </ul>
        <p class="text-center my-5">
            <button class="btn btn-info">View Menu</button>
        </p>
    </div>

</div>

<div class="red-above black row">
    <div class="col-12"></div>
</div>

<div class="black-above row">
    <div class="col-12"></div>
</div>

<div class="row">
    <div class="col-12">
        <p class="lead text-center pt-5 mx-auto px-5">
            If you have any questions or for more information<br />
            please call us on <strong>01793 523902</strong> or email on <strong><a href="mailto:contact@incarcerated.co.uk">contact@incarcerated.co.uk</a></strong>.
        </p>
    </div>
</div>