<div class="row py-4 justify-content-center align-items-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-6 mx-auto lead px-2">
        <p>We offer open gift vouchers which can be purchased for a range of occasions including Birthdays, Christmas, Weddings and more. Our vouchers can be purchased by calling us in the office on <strong>01793 523902</strong> during our usual opening hours.</p>
        <p>Once ordered, we create a gift card tailored to the occasion for you to place inside of a card we post this out to you within 24 hours of ordering, you can also pop by the office to collect it if you are local. All the receiver has to do, is call us in the office and we will book them in on their preferred date and time.</p>
        <p>Please give us a call if you would like to proceed with an order and one of the team will be happy to help, if you would like more information please feel free to drop us email via <strong><a href="mailto:contact@incarcerated.co.uk">contact@incarcerated.co.uk</a></strong>.</p>
    </div>
    <div class="col-lg-3 col-xl-4 mx-auto">
         <div id="VoucherCarousel" class="carousel slide mx-auto" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item py-3 active">
                    <img class="d-block mx-auto img-fluid" src="/images/giftvouchers/gv-standard.jpg" alt="First slide">
                </div>
                <div class="carousel-item py-3">
                    <img class="d-block mx-auto img-fluid" src="/images/giftvouchers/gv-birthday.jpg" alt="Second slide">
                </div>
                <div class="carousel-item py-3">
                    <img class="d-block mx-auto img-fluid" src="/images/giftvouchers/gv-wedding.jpg" alt="Third slide">
                </div>
                <div class="carousel-item py-3">
                    <img class="d-block mx-auto img-fluid" src="/images/giftvouchers/gv-christmas.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev d-none d-lg-flex" href="#VoucherCarousel" role="button" data-slide="prev">
                <i class="fal fa-chevron-left fa-fw fa-2x"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next d-none d-lg-flex" href="#VoucherCarousel" role="button" data-slide="next">
                <i class="fal fa-chevron-right fa-fw fa-2x"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 mx-auto lead text-center">
         <p>Our pricing. Per Person Per Room<br />
        2 x Players - £20 pp<br />
        3 x Players - £19 pp<br />
        4 x Players - £18 pp<br />
        5 x Players - £17 pp<br />
        6 x Players - £15 pp<br />
        (Gift Voucher Minimum Purchase – 2 Players - £40).</p>
    </div>
</div>