<div class="row">
    
    <div class="card mx-auto my-4 px-0 col-11 col-sm-10 col-md-9 col-lg-5">
        <div class="card-header red">
            <h5 class="card-title text-uppercase mb-0">Birthdays &amp; Celebrations</h5>
        </div>
        <div class="card-body"> 
            <ul>
                <li>1 Game for up to 6 players.</li>
                <li>Cake on Escape.</li>
                <li>Card for Birthday Guest.</li>
                <li>Use of our Hosting area for up to 1 hour after game (subject to availability)</li>
                <li>Teas and Coffee for after the game (soft drinks can be arranged please speak to staff when booking)</li>
                <li>Birthday banners can be arranged, if you have any special decoration requests please speak to staff when booking.</li>
            </ul> 
            <p class="card-text">
                Price £120 – To book please call us on 01793 523 902 If you would like to add Pizza or Buffet options please see the selection and prices below, these are charged as an extra to the party package price.   
            </p>
        </div>
    </div>

    <div class="card mx-auto my-4 px-0 col-11 col-sm-10 col-md-9 col-lg-5">
        <div class="card-header red">
            <h5 class="card-title text-uppercase mb-0">Hen &amp; Stag Parties</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Due to the varied sizes and requirements of Stag and Hen Do’s we haven’t got a set party package however extras we can include:</p>
            <ul>
                <li>Cake on Escape.</li>
                <li>Card for the lucky person.</li>
                <li>Drinks packages and use of our hosting area.</li>
                <li>Tailored room storylines to make the experience more personal.</li>
            </ul>
            <p class="card-text">Please speak to our staff when booking who will be able to arrange a price for the additional options.</p>
        </div>
    </div>
</div>

<div class="black-below row">
    <div class="col-12"></div>
</div>

<div class="black row">
    <div class="col-12">
        <h2 class="pt-3 text-center">Buffet, Pizzas and Extras</h2>
    </div>
</div>

<div class="red-below black row">
    <div class="col-12"></div>
</div>

<div class="row red">
    <div class="col-12 col-md-6 px-5">
        <h3 class="">Buffet</h3>
        <p class="lead">£5.50 per person which includes:</p>
        <ul>
            <li>Sandwiches</li>
            <li>Wraps</li>
            <li>Assorted Crisps</li>
            <li>Any three* of:
                <ul>
                    <li>Onion Bhajis</li>
                    <li>Sausage Rolls</li>
                    <li>Mini Pizza</li>
                    <li>Chicken Satay</li>
                    <li>Filo Wrapped Prawns</li>
                    <li>Cheese Lattice</li>
                    <li>Dim Sums</li>
                    <li>Vol Au Vents</li>
                    <li>Quiche</li>
                    <li>Fruit Platter</li>
                </ul>
            </li>
        </ul>
        <p>Luxury Mini Cream Cake selection (2 per person) - £2 per person.</p>
        <p>*additional items available at 50p per person per item.</p>

        <h4 class="">Additional Options</h4>
        <ul>
            <li>Unlimited Tea, Coffee, Squash – 50p per person.</li>
            <li>Unlimited Tea, Coffee, Squash with biscuit and fruit selection - £1 per person.</li>
        </ul>
    </div>

    <div class="col-12 col-md-6 px-5">
        <h3 class="">Pizza</h3>
        <p class="lead">There are a wide range of pricing options, all below:</p>
        <p>We have a special relationship with Dominos and can offer exclusive discounts for groups who would like to make their escape with us in to a longer and even more memorable event.</p>
        <ul>
            <li>
                Any Pizza Any Size from menu below - £10
                <br /><small>(special crusts are charged at dominos standard rates)</small>
            </li>
            <li>7 piece chicken sides - £4</li>
            <li>Any other side - £3 </li>
            <li>Any Dominos branded dessert (not ice creams) - £3</li>
            <li>Any Dominos Wrapz - £3</li>
        </ul>
        <p class="text-center my-5">
            <button class="btn btn-info">View Menu</button>
        </p>
    </div>

</div>

<div class="red-above black row">
    <div class="col-12"></div>
</div>

<div class="black-above row">
    <div class="col-12"></div>
</div>

<div class="row">
    <div class="col-12">
        <p class="lead text-center pt-5 mx-auto px-5">
            If you have any questions or for more information<br />
            please call us on <strong>01793 523902</strong> or email on <strong><a href="mailto:contact@incarcerated.co.uk">contact@incarcerated.co.uk</a></strong>.
        </p>
    </div>
</div>