<div class="row">
    <div class="col-12">       
        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-center mt-5 mb-3" id="RoomTabs" role="tablist">
{{!
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#adod" role="tab" aria-controls="adod" aria-selected="true">
                    <img src="/images/rooms/adod.jpg" width="250" alt="A Dose of Death"/>
                </a>
            </li>
}}
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#age" role="tab" aria-controls="age" aria-selected="false">
                    <img src="/images/rooms/age.jpg" width="250" alt="Agenda 21 - Conspiracy"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#cr" role="tab" aria-controls="cr" aria-selected="false">
                    <img src="/images/rooms/cr.jpg" width="250" alt="Cops & Robbers"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#pow" role="tab" aria-controls="pow" aria-selected="false">
                    <img src="/images/rooms/pow.jpg" width="250" alt="Prisoner of War"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#tts" role="tab" aria-controls="tts" aria-selected="false">
                    <img src="/images/rooms/tts.jpg" width="250" alt="The Tortured Soul"/>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="adod" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h1>A Dose Of Death</h1>
                        <div class="text-center">
                            <a href="/booknow?r=adod" class="btn btn-primary btn-book mt-3 mb-5 mx-auto">Book Now</a>
                        </div>
                        <p>A large number of the local community have fallen ill, the latest person to start feeling unwell is a very close friend of yours. You have been trying to get the bottom of things as you have a strong suspicion that a well regarded local doctor is behind the outbreak.</p>
                        <p>After overhearing a strange conversation while out at a restaurant between two local MP’s your theory seems even more feasible. But how will you prove that this well respected local figure has sinister intentions?</p>
                        <p>You and a friend have snuck into the rogue doctor’s office to investigate, but have been accidentally locked in by the cleaner. This gives you the opportunity to search for evidence to prove your theory. Time is ticking, the cleaner will be back in 60 minutes to check the building before locking up, can you find what you need and escape the office before you get caught? Remember, don’t get found out or you could end up being the next victim of this diabolical doctor’s evil plan.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 red-below">
                    </div>
                </div>

                <div class="row py-1 py-md-2 py-lg-3 red boasts">
                    <div class="icon-row col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 d-flex flex-row flex-wrap justify-content-around mx-auto my-2">
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/players.png" alt="" />
                            <span class="text p-2">Players:<br /><strong>2 - 6</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/accessible.png" alt="" />
                            <span class="text p-2">Accessibility:<br /><strong>Not Accessible</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/timer.png" alt="" />
                            <span class="text p-2">Best Time:<br /><strong>23:00</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/escape-lock.png" alt="" />
                            <span class="text p-2">Escape Rate:<br /><strong>64%</strong></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 red-above black">
                    </div>
                </div>

                <div class="row black leaderboards">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h2 class="my-3">Leaderboards</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Best Escapes</h3>
                                <p>Coming Soon!</p>
                            </div>
                            
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Recent Attempts</h3>
                                <p>Coming Soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 black-above">
                    </div>
                </div>
                
            </div>

            <div class="tab-pane fade" id="age" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h1>Conspiracy - Agenda 21</h1>
                        <div class="text-center">
                            <a href="/booknow?r=age" class="btn btn-primary btn-book mt-3 mb-5 mx-auto">Book Now</a>
                        </div>
                        <p>After seeing a story online about a YouTube Conspiracy Theorist who has concerns about a UN research facility, you have been following the story and his updates. One night you see a live feed on his Facebook account which leads you to believe he has been captured. Ever since the live feed there has been no updates to any of his accounts. Was it all a hoax? Is there something more sinister going on?</p>
                        <p>Roll on 6 months, you and your friends no longer speak of the YouTuber and life goes on as normal. One morning you all receive individual letters from the Supreme Court asking you to report for “Jury Service” at The Old Bailey. The letter states you must not tell anyone that you have been called in, the case you have been assigned to is extremely serious and the person on trial is a huge threat to national security. The letter also states that all Jury candidates are required to attend by law and any leak of information will lead to prosecution.</p>
                        <p>Further instructions ask you to arrive at the ‘UN Research Facility Northwood’ as secure transport will be provided to ensure all Jury members are kept safe on the way to the trial.</p>
                        <p class="text-center">
                            <strong>
                                This game may not be suitable for those with epilepsy.<br>
                                This game contains mild gore, parental discretion advised.
                            </strong>
                        </p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 red-below">
                    </div>
                </div>

                <div class="row py-1 py-md-2 py-lg-3 red boasts">
                    <div class="icon-row col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 d-flex flex-row flex-wrap justify-content-around mx-auto my-2">
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/players.png" alt="" />
                            <span class="text p-2">Players:<br /><strong>2 - 7</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/accessible.png" alt="" />
                            <span class="text p-2">Accessibility:<br /><strong>Not Accessible<br>Flashing Lights</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/timer.png" alt="" />
                            <span class="text p-2">Best Time:<br /><strong>30:25</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/escape-lock.png" alt="" />
                            <span class="text p-2">Escape Rate:<br /><strong>66%</strong></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 red-above black">
                    </div>
                </div>

                <div class="row black leaderboards">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h2 class="my-3">Leaderboards</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Best Escapes</h3>
                                <p>Coming Soon!</p>
                            </div>
                            
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Recent Attempts</h3>
                                <p>Coming Soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 black-above">
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="cr" role="tabpanel" aria-labelledby="messages-tab">
                <div class="row">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h1>Cops &amp; Robbers</h1>
                        <div class="text-center">
                            <a href="/booknow?r=cr" class="btn btn-primary btn-book mt-3 mb-5 mx-auto">Book Now</a>
                        </div>
                        <p>Cops and Robbers is a brand new, head to head, escape room experience!</p>
                        <p>Facing the Cops is a grueling investigation where they need to discover the King Pin’s identity and ultimately gain access to the King Pin’s safe house. Meanwhile the Robbers are facing stealthy clear out of the safe house. However the only safe exit is now the emergency door, which no one knows how to unlock. The Robbers kn
                        <p>Will the Cops gain access to the Safe House and catch the criminals?<br>Will the Robbers manage to clear the safe house of all the incriminating items?</p>
                        <p>All we know is the King Pin is on his way back to release his associates so the pressure is on the Cops to solve the crimes that are still under investigation.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 red-below">
                    </div>
                </div>

                <div class="row py-1 py-md-2 py-lg-3 red boasts">
                    <div class="icon-row col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 d-flex flex-row flex-wrap justify-content-around mx-auto my-2">
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/players.png" alt="" />
                            <span class="text p-2">Players:<br /><strong>2 - 6, 2 Teams</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/accessible.png" alt="" />
                            <span class="text p-2">Accessibility:<br /><strong>Not Accessible</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/cops.png" alt="" />
                            <span class="text p-2">Best Side:<br /><strong>Cops</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/competitive.png" alt="" />
                            <span class="text p-2">Play Style:<br /><strong>Head to Head</strong></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 red-above black">
                    </div>
                </div>

                <div class="row black leaderboards">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h2 class="my-3">Leaderboards</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Best Escapes</h3>
                                <p>Coming Soon!</p>
                            </div>
                            
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Recent Attempts</h3>
                                <p>Coming Soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 black-above">
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pow" role="tabpanel" aria-labelledby="settings-tab">
                <div class="row">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h1>Prisoner of War</h1>
                        <div class="text-center">
                            <a href="/booknow?r=pow" class="btn btn-primary btn-book mt-3 mb-5 mx-auto">Book Now</a>
                        </div>
                        <p>It’s August 8th 1971, you and your squadron are deep in the Vietnamese jungle and are under heavy fire from the advancing Viet Cong troops. Your team spread out to try and find better cover as your camp is now overrun by the communist opposition. Several of your comrades have been killed in action but you and a small number of troops have managed to retreat to a safe distance.</p>
                        <p>You have been made aware that during your retreat attempt your leading commander has been captured on the battlefield and is being held in a cell deep behind enemy lines. You and your squadron have made the treacherous hike back into the jungle to find your commander as you would never leave a good man behind.</p>
                        <p>After discovering the location of his jungle cell, you and your team tunnel into the guard’s office where you discover your commander is still alive but locked in a small cell. All of a sudden, the tunnel you dug to enter the room collapses so not only is your commander still trapped in the cell but you find yourselves in the locked guard’s room with no way out. Can you find a way to get your commander out of the cell and escape the guard’s office before they return? You have 60 minutes…</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 red-below">
                    </div>
                </div>

                <div class="row py-1 py-md-2 py-lg-3 red boasts">
                    <div class="icon-row col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 d-flex flex-row flex-wrap justify-content-around mx-auto my-2">
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/players.png" alt="" />
                            <span class="text p-2">Players:<br /><strong>2 - 6</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/accessible.png" alt="" />
                            <span class="text p-2">Accessibility:<br /><strong>Accessible<br>Flashing Lights</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/timer.png" alt="" />
                            <span class="text p-2">Best Time:<br /><strong>30:06</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/escape-lock.png" alt="" />
                            <span class="text p-2">Escape Rate:<br /><strong>71%</strong></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 red-above black">
                    </div>
                </div>

                <div class="row black leaderboards">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h2 class="my-3">Leaderboards</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Best Escapes</h3>
                                <p>Coming Soon!</p>
                            </div>
                            
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Recent Attempts</h3>
                                <p>Coming Soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 black-above">
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tts" role="tabpanel" aria-labelledby="settings-tab">
                <div class="row">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h1>The Tortured Soul</h1>
                        <div class="text-center">
                            <a href="/booknow?r=tts" class="btn btn-primary btn-book mt-3 mb-5 mx-auto">Book Now</a>
                        </div>
                        <p>TTS Gubbibns</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 red-below">
                    </div>
                </div>

                <div class="row py-1 py-md-2 py-lg-3 red boasts">
                    <div class="icon-row col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 d-flex flex-row flex-wrap justify-content-around mx-auto my-2">
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/players.png" alt="" />
                            <span class="text p-2">Players:<br /><strong>3 - 7</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/accessible.png" alt="" />
                            <span class="text p-2">Accessibility:<br /><strong>Not Accessible</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/timer.png" alt="" />
                            <span class="text p-2">Best Time:<br /><strong>30:06</strong></span>
                        </div>
                        <div class="whofor-icon d-flex flex-column align-items-center text-center m-3">
                            <img class="icon p-2" src="/images/icons/escape-lock.png" alt="" />
                            <span class="text p-2">Escape Rate:<br /><strong>71%</strong></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 red-above black">
                    </div>
                </div>

                <div class="row black leaderboards">
                    <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto mb-4">
                        <h2 class="my-3">Leaderboards</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Best Escapes</h3>
                                <p>Coming Soon!</p>
                            </div>
                            
                            <div class="col-12 col-md-6 text-center">
                                <h3 class="m-3">Recent Attempts</h3>
                                <p>Coming Soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 black-above">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>