<div class="type-selector row d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <a href="/packages/occasions" class="box-1 col-11 col-sm-10 col-md-9 col-lg-5 col-xl-4 mx-auto py-5 my-5">
        <div class="text-uppercase text-center">
            Birthdays &amp; <br>
            Special Occasions
            <div class="read-more text-uppercase mt-4">Click for Details</div>
        </div>
    </a>
    <a href="/packages/corporate" class="box-2 col-11 col-sm-10 col-md-9 col-lg-5 col-xl-4 mx-auto py-5 my-5">
        <div class="text-uppercase text-center ">
            Corporate &amp;<br />
            Team Building
            <div class="read-more text-uppercase mt-4">Click for Details</div>
        </div>
    </a>
</div>