<div class="row my-5">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
        <h1 class="text-uppercase my-3">Make a trip of it!</h1>
        <p class="lead">Did you know we have a wonderful array of local business within walking distance of our front door. From light bites and lunch to gourmet restaurants and all you can eat buffets there is literally everything you can need just minutes away.</p>
    </div>
</div>

<div class="row">
    <div class="col-12 black-below"></div>
</div>

<div class="row black">
    <div class="col-12 p-0">
        <img src="/images/visit/banner1.jpg" alt="food" class="w-100 my-4">
    </div>
</div>

<div class="row">
    <div class="col-12 p-0">
        <div id="map" style="height: 300px;"></div>
    </div>
</div>

<div class="row black py-3 pt-5">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
        <h2 class="text-uppercase my-3">Breakfast and lunch on the go</h2>
    </div>
</div>
<div class="row black">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto pb-5">
        <h3><i class="fal fa-fw fa-angle-double-right text-red"></i> Fillerz</h3>
        <p>We suggest heading to Fillerz café open 8am – 3pm Monday – Saturday you will be pushed to find a better place to grab lunch on the go. Check out their website for more details. <a href="https://www.fillerz.co.uk/" target="_blank">More Info...</a></p>  
    </div>
</div>

<div class="row">
    <div class="col-12 black red-below">
    </div>
</div>

<div class="row red py-3">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
        <h2 class="text-uppercase my-3">Lunch and Evening meals</h2>
        <p class="lead">There are so many amazing places to eat if there isn’t anything you fancy in our staff suggestions then find us on google and browse the local area there is plenty to choose from, our staff picks are:</p>
        
    </div>
</div>

<div class="row red pb-3">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-black"></i> Miller and Carter</h3>
        <p>Amazing Steaks, burgers and sides this is a firm favourite for all of our staff and is only 4 mins walk from our front door. <a href="https://www.millerandcarter.co.uk/restaurants/south-west/millerandcarterswindon" target="_blank">More Info...</a></p>
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-black"></i> Gaetanos</h3>
        <p>Authentic Italian cuisine, from a family run restaurant. Amazing staff and quality food this, is a hidden gem on Victoria Road and is literally 1 minute from our front door. Worth checking out if you plan to pop to old town for a few evening drinks. <a href="http://www.gaetanos.co.uk/" target="_blank">More Info...</a></p>
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-black"></i> Rendezvous</h3>
        <p>All you can eat Chinese buffet what more is there to say… Well actually loads, this place is fantastic each dish is cooked fresh and brought to your table. The staff are fantastic and go out of their way to make sure your experience is 5 stars. All of our staff have been here and its always suggested as a place to go for a staff meal. Its located underneath the Wyvern Theatre and is about 2/3 minutes from our front door. Check out the website for more information. <a href="http://www.swindonrendezvous.co.uk/" target="_blank">More Info...</a></p>
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-black"></i> Jewel In The Crown</h3>
        <p>A well-known Curry House in Swindon, lots of our customers go here after their escape with us. It is the closest of all the staff picks it is less than 30 seconds from our front door literally leave our office and turn left walk down the hill and cross the road, its that simple. If Indian cuisine is the food you desire then look no further. <a href="https://www.jewelinthecrown.co.uk/" target="_blank">More Info...</a></p>   
    </div>
</div>
       
<div class="row">
    <div class="col-12 black red-above">
    </div>
</div>

<div class="row black py-3">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
        <h2 class="text-uppercase my-3">Sweet Tooth</h2>
    </div>
</div>
<div class="row black pb-3">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-red"></i> Kaspa's Desserts</h3>
        <p>Are you looking for a sugar rush… Less than 2 mins from us is the wonderfully sweet Kaspa’s, with all the sugary treats you can need. Check out their website <a href="http://kaspas.co.uk/location/swindon/" target="_blank">More Info...</a></p>  
    </div>
</div>

<div class="row">
    <div class="col-12 black-above">
    </div>
</div>

<div class="row py-3">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
        <h2 class="text-uppercase my-3">Entertainment and making a day of it</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 p-0">
        <img src="/images/visit/banner2.jpg" alt="regent circus" class="w-100 mb-5">
    </div>
</div>

<div class="row pb-3">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-red"></i> Regent Circus</h3>
        <p>We have Regent Circus pretty much next door it has a variety of large chain restaurants, it also has a brand new Cinema so you can always head there before or after escaping with us. <a href="https://www.cineworld.co.uk/cinemas/swindon-regent-circus#/buy-tickets-by-cinema?in-cinema=8099&at=2018-09-09&view-mode=list" target="_blank">More Info...</a></p>  
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-red"></i> Swindon Theatres</h3>
        <p>Just a stones throw away you have the Wyvern Theatre and the Swindon Arts Centre, why not check out an evening show at either of these amazing venues. <a href="https://swindontheatres.co.uk/Online/" target="_blank">More Info...</a></p>  
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-red"></i> Mcarthur Glen Outlet Centre</h3>
        <p>If you fancy a walk through town the Mcarthur Glen Outlet Centre is 15 mins away on foot and about 6 minutes in the car, it has a tonne of amazing shops and food outlets, you can literally shop until you drop. <a href="https://www.mcarthurglen.com/en/outlets/uk/designer-outlet-swindon/" target="_blank">More Info...</a></p>  
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h3><i class="fal fa-fw fa-angle-double-right text-red"></i> Swindon Town FC</h3>
        <p>If you plan your trip in advance you may even be able to catch the mighty Swindon Town Football Club at home as the County Ground Stadium is 10 minutes walk from our office on Victoria Road. Check out all their fixtures on the website. <a href="https://www.swindontownfc.co.uk/" target="_blank">More Info...</a></p>  
    </div>
</div>

<div class="row my-3">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
        <h2 class="text-uppercase my-3">Still Lost for Choice?</h2>
        <p class="lead">Swindon has a vast selections of things to do, we are one of the main attractions which we are really proud to shout about however if any of the above suggestions don’t take your fancy, then check out <a href="https://www.totalswindon.com/" target="_blank">https://www.totalswindon.com/</a> to see all of the other amazing things happening in our beautiful town.</p>
    </div>
</div>


<script type="text/javascript">
    function createMap(){
        var opts = {
            center: {
                lat: 51.556495,
                lng: -1.778933,
            },
            zoom: 16,
            styles: [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#eeeeee"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]}],
            maxZoom: 20,
            minZoom: 0,
            mapTypeId: 'roadmap',
        };

        opts.clickableIcons = true;
        opts.disableDoubleClickZoom = false;
        opts.draggable = true;
        opts.keyboardShortcuts = true;
        opts.scrollwheel = true;
        
        var setControlOptions = function(key, enabled, position, style, mapTypeIds){
            opts[key + 'Control'] = enabled;
            opts[key + 'ControlOptions'] = {
                position: google.maps.ControlPosition[position],
                style: google.maps.MapTypeControlStyle[style],
                mapTypeIds: mapTypeIds
            };
        };
            
        setControlOptions('fullscreen',false,'DEFAULT','',null);
        setControlOptions('mapType',false,'DEFAULT','DEFAULT',["roadmap","satellite","terrain"]);
        setControlOptions('rotate',false,'DEFAULT','',null);
        setControlOptions('scale',false,'','',null);
        setControlOptions('streetView',false,'DEFAULT','',null);
        setControlOptions('zoom',true,'DEFAULT','',null);
        
        var map = new google.maps.Map(document.getElementById('map'), opts);

        (function(){
            var markerOptions = {
                map: map,
                position: {
                    lat: 51.556495,
                    lng: -1.778933,
                }
            };
            
            markerOptions.icon = {
                path: 'M11 2c-3.9 0-7 3.1-7 7 0 5.3 7 13 7 13 0 0 7-7.7 7-13 0-3.9-3.1-7-7-7Zm0 9.5c-1.4 0-2.5-1.1-2.5-2.5 0-1.4 1.1-2.5 2.5-2.5 1.4 0 2.5 1.1 2.5 2.5 0 1.4-1.1 2.5-2.5 2.5Z',
                scale: 1.6363636363636363636363636364,
                anchor: new google.maps.Point(11, 22),
                fillOpacity: 1,
                fillColor: '#cf0606',
                strokeOpacity: 0
            };
            var marker = new google.maps.Marker(markerOptions);
        })();
    }
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABBV1q7qfyjAXxh14wrFbS101bAGhsx9M&v=3.31&language=en&libraries=places,geometry&callback=createMap"></script>